<h1>Are You A Hero!</h1>
<div class="squad">
<img src="https://images.joinsquad.com/Logos/squadlogo_black_hires.png">
<h4><a class="btn btn-info" href="/hero_registrationform">Register Here!</a></h4>
</div>
